.CFUserTextEncoding
.DS_Store
.Xauthority
.adobe/
.bash_history
.cache/
.config/
.cups/
.dropbox/
.fontconfig/
.gem/
.gitk
.gnupg/
.ievms/
.irb-history
.keepassx/
.lesshst
.local/
.mysql_history
.passwordsafe/
.rvm/
.ssh/
.vegas/
.viminfo
.wireshark-etc/
.wireshark/
.zprofile
.zshenv
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
local/
.Trash/
dump.rdb
.jira.config
.vim/.VimballRecord
.vim/.netrwhist
.bash_profile_copy
*.swp
*.swo
.vagrant*
.berkshelf
.pry_history
.pia_manager_crash.log
.bundler/
.keybase*
.npm
.pow
.powconfig
.subversion
.rbenv
dotfiles/
.37/
.bundle/
journals/
.secrets/
.irbhistory
.cpanm/
.basecamp_aliases
.cocoapods/
