[credential]
	helper = osxkeychain
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[user]
	name = eileencodes
	email = eileencodes@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[include]
  path = .git_author
[alias]
  bisect-fixed = bisect good
  bisect-broken = bisect bad
  undo-wip = reset HEAD~1
[github]
	user = eileencodes
[push]
	default = simple
