.CFUserTextEncoding
.DS_Store
.Xauthority
.adobe/
.bash_history
.cache/
.config/
.cups/
.dropbox/
.fontconfig/
.gem/
.gitk
.gnupg/
.ievms/
.irb-history
.irb_history
.keepassx/
.lesshst
.local/
.mysql_history
.passwordsafe/
.rvm/
.ssh/
.vegas/
.viminfo
.wireshark-etc/
.wireshark/
.zprofile
.zshenv
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
local/
.Trash/
dump.rdb
.jira.config
.vim/.VimballRecord
.vim/.netrwhist
.bash_profile_copy
*.swp
*.swo
.vagrant*
.berkshelf
.pry_history
.pia_manager_crash.log
.bundler/
.keybase*
.npm
.pow
.powconfig
.subversion
.rbenv
dotfiles/
.37/
.bundle/
journals/
.secrets/
.irbhistory
.cpanm/
.github_aliases
.cocoapods/
.neoman
.rediscli_history
.byebug_hist
.powprox
.rnd
.guard_history
.sendcat
.node-gyp
.electron
.lldb
.npmrc
.oracle_jre_usage
.atom/
.bash_sessions/
.pia_manager/
github/
open_source/
.babel.json
.my.cnf
Creative Cloud Files/
.yarnrc
.webdrivers/
keys/
projects/
.chromedriver-helper/
.docker/
.iex_history
.python-eggs/
.sqlite_history
.vim/bundle/vim-elixir/
.vim/bundle/vim-fugitive/.gitattributes
.vim/bundle/vim-fugitive/autoload/
.vim/bundle/vim-fugitive/ftdetect/
.vim/bundle/vim-fugitive/syntax/
Boostnote/
