[credential]
	helper = osxkeychain
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/eileen/.gitignore_global
[user]
	name = eileencodes
	email = eileencodes@gmail.com
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[include]
  path = /.git_author
