'editor':
  'fontSize': 16
  'showInvisibles': true
  'softWrap': true
'core':
  'themes': [
    'atom-dark-ui'
    'atom-dark-syntax'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'exception-reporting':
  'userId': '96eb4bbc-d858-aacc-0dca-39a127a361db'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '77b9ec5bdc146aecc7ec5efe3c74f53c8ffe0679'
